<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Add Customers</title>
    
<link href="<?= base_url('assets/css/CI_Project.css');?>" rel="stylesheet">
<link href="<?= base_url('assets/css/add_customer.css');?> " rel="stylesheet">


</head>
<body>
<div id="container">
<div id="wb_Form1" style="position:absolute;left:407px;top:103px;width:592px;height:537px;z-index:28;">
<form name="CustomerDetails" method="post" action="Customers/add_customers" enctype="multipart/form-data" id="Form1">

<input type="hidden" id="c_id" style="position:absolute;left:160px;top:123px;width:60px;height:23px;line-height:23px;z-index:6;" placeholder="ID" name="c_id" value="" tabindex="1">
    
    

<input type="text" id="name" style="position:absolute;left:160px;top:153px;width:368px;height:23px;line-height:23px;z-index:7;" name="name" value="" placeholder="Name" tabindex="2">
    
<textarea name="address" id="address" placeholder="Address" style="position:absolute;left:160px;top:183px;width:368px;height:98px;z-index:8;" rows="5" cols="58" tabindex="3"></textarea>

    
<input type="text" id="service_tax" style="position:absolute;left:160px;top:288px;width:368px;height:23px;line-height:23px;z-index:5;" placeholder="Service Tax Number" name="service_tax" value="" tabindex="4">


<input type="text" id="tin_no"  style="position:absolute;left:160px;top:318px;width:368px;height:23px;line-height:23px;z-index:9;" name="tin_no" value="" placeholder="TIN Number" tabindex="5">
    
<input type="text" id="ct_no" style="position:absolute;left:160px;top:348px;width:368px;height:23px;line-height:23px;z-index:10;" name="ct_no" value="" placeholder="CT Number" tabindex="6">
    
<input type="text" id="pan_no" style="position:absolute;left:160px;top:378px;width:368px;height:23px;line-height:23px;z-index:11;" placeholder="PAN Number" name="pan_no" value="" tabindex="7">
<input type="file" id="logo" style="position:absolute;left:160px;top:408px;width:368px;height:23px;line-height:23px;z-index:12;"  name="logo" tabindex="8">
    
<input type="text" id="c_email" style="position:absolute;left:160px;top:438px;width:368px;height:23px;line-height:23px;z-index:13;" name="c_email" value="" placeholder="Email Address" tabindex="9">
<div id="wb_Text4" style="position:absolute;left:58px;top:123px;width:92px;height:18px;z-index:14;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;"></span></div>
<div id="wb_Text5" style="position:absolute;left:58px;top:153px;width:92px;height:18px;z-index:15;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">Name</span></div>
<div id="wb_Text6" style="position:absolute;left:58px;top:183px;width:92px;height:18px;z-index:16;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">Address</span></div>
<div id="wb_Text7" style="position:absolute;left:58px;top:288px;width:92px;height:18px;z-index:17;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">Service Tax</span></div>
<div id="wb_Text8" style="position:absolute;left:58px;top:318px;width:92px;height:18px;z-index:18;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">TIN No.</span></div>
<div id="wb_Text9" style="position:absolute;left:58px;top:348px;width:92px;height:18px;z-index:19;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">CT No.</span></div>
<div id="wb_Text10" style="position:absolute;left:58px;top:378px;width:92px;height:18px;z-index:20;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">PAN No.</span></div>
<div id="wb_Text11" style="position:absolute;left:58px;top:408px;width:92px;height:18px;z-index:21;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">Logo</span></div>
<div id="wb_Text12" style="position:absolute;left:58px;top:438px;width:92px;height:18px;z-index:22;text-align:left;">
<span style="color:#263238;font-family:Arial;font-size:16px;">Email</span></div>
<input type="submit" id="btn_submit" name="btn_submit" value="Submit" style="position:absolute;left:160px;top:478px;width:370px;height:39px;z-index:23;">
<input type="reset" id="btn_reset" name="btn_reset" value="Reset" style="position:absolute;left:68px;top:478px;width:82px;height:39px;z-index:24;">
<div id="wb_Text13" style="position:absolute;left:204px;top:42px;width:294px;height:40px;text-align:center;z-index:25;">
<span style="color:#263238;font-family:Arial;font-size:35px;">ADD CUSTOMER</span></div>
<div id="wb_Image3" style="position:absolute;left:118px;top:19px;width:77px;height:77px;z-index:26;">
<img src="<?php echo base_url(); ?>assets/images/handshake-flat.png" id="Image3" alt=""></div>
<hr id="Line1" style="position:absolute;left:0px;top:104px;width:592px;height:1px;z-index:27;">
</form>
</div>
</div>
<div id="PageHeader1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:0px;width:100%;height:86px;z-index:7777;">
<div id="wb_Text1" style="position:absolute;left:92px;top:32px;width:115px;height:27px;z-index:0;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:24px;">Welcome</span></div>
<div id="wb_Image1" style="position:absolute;left:26px;top:17px;width:51px;height:56px;z-index:1;">
<img src="<?php echo base_url(); ?>assets/images/uer.png" id="Image1" alt=""></div>
<div id="wb_Text2" style="position:absolute;left:207px;top:30px;width:115px;height:29px;z-index:2;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:24px;"><strong>USER</strong></span></div>
<div id="wb_Image2" style="position:absolute;left:1296px;top:17px;width:54px;height:52px;z-index:3;">
<img src="<?php echo base_url(); ?>assets/images/4509ba2b6663b1e81748e24eb16204d2-cross.png" id="Image2" alt=""></div>
<div id="wb_Text3" style="position:absolute;left:1221px;top:32px;width:115px;height:22px;z-index:4;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:19px;">Logout</span></div>
</div>
</body>
</html>