<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Customer Invoice</title>
<link href="<?php echo base_url();?>assets/jquery/cupertino/jquery.ui.all.css" rel="stylesheet">
<link href="<?php echo base_url();?>assets/css/CI_Project.css" rel="stylesheet">
<link href="<?php echo base_url();?>assets/css/invoice_to_customer.css" rel="stylesheet">
<script src="<?php echo base_url();?>assets/jquery/jquery-1.11.1.min.js"></script>
<script src="<?php echo base_url();?>assets/jquery/jquery.ui.core.min.js"></script>
<script src="<?php echo base_url();?>assets/jquery/jquery.ui.widget.min.js"></script>
<script src="<?php echo base_url();?>assets/jquery/jquery.ui.datepicker.min.js"></script>
<script>
    
function calculateGross(){
    
    var amt=parseFloat(document.getElementById('txtAmount').value);
    var service=parseFloat(document.getElementById('txtServiceTax').value);
    var kkc=parseFloat(document.getElementById('txtKKC').value);
    var sbc=parseFloat(document.getElementById('txtSBC').value);
    var vat=parseFloat(document.getElementById('txtVAT').value);
   
    var total=amt+service+kkc+sbc+vat;
        document.getElementById('txtGrossAmount').value=total;
}    
    
    
function ValidatecustomerInvoice(theForm)
{
   var regexp;
   if (theForm.txtBillNo.value == "")
   {
      alert("Please enter a value for the \"bill_no\" field.");
      theForm.txtBillNo.focus();
      return false;
   }
   if (theForm.item_desc.value == "")
   {
      alert("Please enter a value for the \"item_desc\" field.");
      theForm.item_desc.focus();
      return false;
   }
   if (theForm.txtAmount.value == "")
   {
      alert("Please enter a value for the \"amount\" field.");
      theForm.txtAmount.focus();
      return false;
   }
   if (theForm.txtServiceTax.value == "")
   {
      alert("Please enter a value for the \"service_tax\" field.");
      theForm.txtServiceTax.focus();
      return false;
   }
   if (theForm.txtKKC.value == "")
   {
      alert("Please enter a value for the \"KKC\" field.");
      theForm.txtKKC.focus();
      return false;
   }
   if (theForm.txtSBC.value == "")
   {
      alert("Please enter a value for the \"SBC\" field.");
      theForm.txtSBC.focus();
      return false;
   }
   if (theForm.txtVAT.value == "")
   {
      alert("Please enter a value for the \"VAT\" field.");
      theForm.txtVAT.focus();
      return false;
   }
   if (theForm.Combobox2.selectedIndex < 0)
   {
      alert("Please select one of the \"cpo_id\" options.");
      theForm.Combobox2.focus();
      return false;
   }
   if (theForm.Combobox2.selectedIndex == 0)
   {
      alert("The first \"cpo_id\" option is not a valid selection.  Please choose one of the other options.");
      theForm.Combobox2.focus();
      return false;
   }
   if (theForm.Combobox1.selectedIndex < 0)
   {
      alert("Please select one of the \"name\" options.");
      theForm.Combobox1.focus();
      return false;
   }
   if (theForm.Combobox1.selectedIndex == 0)
   {
      alert("The first \"name\" option is not a valid selection.  Please choose one of the other options.");
      theForm.Combobox1.focus();
      return false;
   }
   return true;
}
</script>
<script>
$(document).ready(function()
{
   var jQueryDatePicker1Opts =
   {
      dateFormat: 'yy/mm/dd',
      changeMonth: false,
      changeYear: false,
      showButtonPanel: false,
      showAnim: 'show'
   };
   $("#jQueryDatePicker1").datepicker(jQueryDatePicker1Opts);
   $("#jQueryDatePicker1").datepicker("setDate", "new Date()");
});
</script>
</head>
<body>
<div id="container">
<div id="wb_Form1" style="position:absolute;left:470px;top:141px;width:437px;height:610px;z-index:38;">
<form name="customerInvoice" method="post" action="mailto:yourname@mail.com" enctype="text/plain" id="Form1" onsubmit="return ValidatecustomerInvoice(this)">
<div id="wb_Image10" style="position:absolute;left:43px;top:7px;width:86px;height:86px;z-index:5;">
<img src="<?php echo base_url();?>assets/images/handshake-flat.png" id="Image10" alt=""></div>
<div id="wb_Text4" style="position:absolute;left:10px;top:199px;width:127px;height:16px;z-index:6;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Bill No.</span></div>
<input type="text" id="txtBillNo" style="position:absolute;left:147px;top:199px;width:257px;height:23px;line-height:23px;z-index:7;" name="bill_no" value="" tabindex="3" placeholder="Bill Number">
<div id="wb_Text5" style="position:absolute;left:10px;top:253px;width:127px;height:16px;z-index:8;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Item Desc.</span></div>
<textarea name="item_desc" id="item_desc" style="position:absolute;left:147px;top:253px;width:257px;height:98px;z-index:9;" rows="5" cols="40" tabindex="5" placeholder="Item Description"></textarea>
<div id="wb_Text6" style="position:absolute;left:10px;top:358px;width:127px;height:16px;z-index:10;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Amount</span></div>
<input type="text" id="txtAmount" style="position:absolute;left:180px;top:358px;width:224px;height:22px;line-height:22px;z-index:11;" name="amount" value="0" tabindex="6" placeholder="Amount" onBlur="calculateGross()">
<div id="wb_Text7" style="position:absolute;left:10px;top:388px;width:127px;height:16px;z-index:12;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Service Tax</span></div>
<input type="text" id="txtServiceTax" style="position:absolute;left:180px;top:388px;width:224px;height:23px;line-height:23px;z-index:13;" name="service_tax" value="0" tabindex="7" placeholder="Service Tax" onBlur="calculateGross()">
<div id="wb_Text8" style="position:absolute;left:10px;top:418px;width:127px;height:16px;z-index:14;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Krishi Kalyan Cess</span></div>
<input type="text" id="txtKKC" style="position:absolute;left:180px;top:418px;width:224px;height:23px;line-height:23px;z-index:15;" name="KKC" value="0" tabindex="8" placeholder="Krishi Kalyan Cess" onBlur="calculateGross()">
<div id="wb_Text9" style="position:absolute;left:10px;top:448px;width:127px;height:16px;z-index:16;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Swachh Bharat Cess</span></div>
<input type="text" id="txtSBC" style="position:absolute;left:180px;top:448px;width:224px;height:23px;line-height:23px;z-index:17;" name="SBC" value="0" tabindex="9" placeholder="Swachh Bharat Cess" onBlur="calculateGross()">
<div id="wb_Text10" style="position:absolute;left:10px;top:478px;width:127px;height:16px;z-index:18;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">VAT</span></div>
<input type="text" id="txtVAT" style="position:absolute;left:180px;top:478px;width:224px;height:23px;line-height:23px;z-index:19;" name="VAT" value="0" tabindex="10" placeholder="VAT" onBlur="calculateGross()">
<input type="submit" id="Button1" name="Save" value="Submit" style="position:absolute;left:147px;top:566px;width:259px;height:25px;z-index:20;" tabindex="12">
<input type="reset" id="Button2" name="" value="Reset" style="position:absolute;left:10px;top:566px;width:127px;height:27px;z-index:21;" tabindex="13">
<div id="wb_Image5" style="position:absolute;left:148px;top:358px;width:29px;height:25px;z-index:22;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image5" alt=""></div>
<div id="wb_Image15" style="position:absolute;left:103px;top:65px;width:34px;height:34px;z-index:23;">
<img src="<?php echo base_url();?>assets/images/111194_commerce_512x512.png" id="Image15" alt=""></div>
<div id="wb_Text19" style="position:absolute;left:137px;top:30px;width:262px;height:46px;text-align:center;z-index:24;">
<span style="color:#000000;font-family:Arial;font-size:20px;">INVOICE <br>TO CUSTOMER</span></div>
<div id="wb_Text12" style="position:absolute;left:10px;top:170px;width:127px;height:16px;z-index:25;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">PO No.</span></div>
<select name="cpo_id" size="1" id="Combobox2" style="position:absolute;left:147px;top:170px;width:259px;height:25px;z-index:26;" tabindex="2">
<option value="0">Please Select Purchase Number</option>
</select>
<div id="wb_Text11" style="position:absolute;left:10px;top:140px;width:127px;height:16px;z-index:27;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Customer Name</span></div>
<select name="name" size="1" id="Combobox1" style="position:absolute;left:147px;top:140px;width:259px;height:25px;z-index:28;" tabindex="1">
<option value="0">Please Select Customer Name</option>
</select>
<div id="wb_Image3" style="position:absolute;left:148px;top:388px;width:29px;height:25px;z-index:29;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image3" alt=""></div>
<div id="wb_Image4" style="position:absolute;left:148px;top:419px;width:29px;height:25px;z-index:30;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image4" alt=""></div>
<div id="wb_Image6" style="position:absolute;left:148px;top:448px;width:29px;height:25px;z-index:31;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image6" alt=""></div>
<div id="wb_Image7" style="position:absolute;left:148px;top:479px;width:29px;height:25px;z-index:32;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image7" alt=""></div>
<div id="wb_Text13" style="position:absolute;left:10px;top:530px;width:127px;height:16px;z-index:33;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Gross Amount</span></div>
<div id="wb_Image8" style="position:absolute;left:148px;top:531px;width:29px;height:25px;z-index:34;">
<img src="<?php echo base_url();?>assets/images/rslogo.png" id="Image8" alt=""></div>
<input type="text" id="txtGrossAmount" style="position:absolute;left:180px;top:530px;width:224px;height:23px;line-height:23px;z-index:35;" name="gross_amount" value="" tabindex="11" readonly placeholder="Gross Amount">
<div id="wb_Text14" style="position:absolute;left:10px;top:228px;width:127px;height:16px;z-index:36;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Date</span></div>
<input type="text" id="jQueryDatePicker1" style="position:absolute;left:149px;top:230px;width:70px;height:18px;line-height:18px;z-index:37;" name="jQueryDatePicker1" value="05/27/2017" tabindex="4">
</form>
</div>
<div id="wb_Line1" style="position:absolute;left:466px;top:241px;width:436px;height:0px;z-index:39;">
<img src="<?php echo base_url();?>assets/images/img0026.png" id="Line1" alt=""></div>
<div id="wb_Line2" style="position:absolute;left:466px;top:657px;width:437px;height:0px;z-index:40;">
<img src="<?php echo base_url();?>assets/images/img0066.png" id="Line2" alt=""></div>
</div>
<div id="PageHeader1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:0px;width:100%;height:86px;z-index:7777;">
<div id="wb_Text1" style="position:absolute;left:92px;top:32px;width:115px;height:27px;z-index:0;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:24px;">Welcome</span></div>
<div id="wb_Image1" style="position:absolute;left:26px;top:17px;width:51px;height:56px;z-index:1;">
<img src="<?php echo base_url();?>assets/images/uer.png" id="Image1" alt=""></div>
<div id="wb_Text2" style="position:absolute;left:207px;top:30px;width:115px;height:29px;z-index:2;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:24px;"><strong>USER</strong></span></div>
<div id="wb_Image2" style="position:absolute;left:1296px;top:17px;width:54px;height:52px;z-index:3;">
<img src="<?php echo base_url();?>assets/images/4509ba2b6663b1e81748e24eb16204d2-cross.png" id="Image2" alt=""></div>
<div id="wb_Text3" style="position:absolute;left:1221px;top:32px;width:115px;height:22px;z-index:4;text-align:left;">
<span style="color:#FFFFFF;font-family:Arial;font-size:19px;">Logout</span></div>
</div>
</body>
</html>