<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>

    
    
    <!--    Disabling Right CLick      -->
    
    <script>
document.addEventListener('contextmenu', event => event.preventDefault());
</script>
    
    
    
<link href="<?= base_url('assets/css/CI_Project.css')?>" rel="stylesheet">
<link href="<?= base_url('assets/css/login.css')?>" rel="stylesheet">

    
    
</head>
<body>
<div id="wb_Shape1" style="position:absolute;left:432px;top:207px;width:465px;height:206px;filter:alpha(opacity=80);opacity:0.80;z-index:0;">
<img src="<?php echo base_url();?>assets/images/img0025.png" id="Shape1" alt="" style="width:465px;height:206px;"></div>
<form role="form" method="POST" action="Login/do_login" id="form">
<input type="text" id="email" style="position:absolute;left:519px;top:241px;width:329px;height:31px;line-height:31px;z-index:1;" name="email" value="" placeholder="Email">
<input type="password" id="password" style="position:absolute;left:519px;top:291px;width:329px;height:31px;line-height:31px;z-index:2;" name="password" value="" tabindex="2" autocomplete="off" placeholder="Password">
<input type="submit" id="btn_submit" name="btn_submit" value="Login" style="position:absolute;left:652px;top:351px;width:198px;height:37px;z-index:3;">
</form>
<div id="wb_Image1" style="position:absolute;left:472px;top:287px;width:43px;height:43px;z-index:4;">
<img src="<?php echo base_url();?>assets/images/pass.png" id="Image1" alt=""></div>
<div id="wb_Image2" style="position:absolute;left:476px;top:241px;width:35px;height:35px;z-index:5;">
<img src="<?php echo base_url();?>assets/images/Untitled-2.png" id="Image2" alt=""></div>
<div id="wb_Text1" style="position:absolute;left:476px;top:358px;width:162px;height:20px;z-index:6;text-align:left;">
<span style="color:#FFFFFF;font-family:Roboto;font-size:17px;">Forget Password ?</span></div>
<div id="wb_Image3" style="position:absolute;left:609px;top:39px;width:121px;height:121px;z-index:7;">
<img src="<?php echo base_url();?>assets/images/home-icon.png" id="Image3" alt=""></div>
    
    

    
    
</body>
</html>